@font-face {
  font-display: swap;
  font-family: Questrial;
  font-style: normal;
  font-weight: normal;
  src: url("Questrial-Regular.woff2") format("woff2");
}

@font-face {
  ascent-override: 81.77%;
  descent-override: 20.94%;
  font-family: "Questrial Fallback";
  font-style: normal;
  font-weight: 400;
  line-gap-override: 0.00%;
  size-adjust: 100.28%;
  src: local("Arial");
}

@custom-media --breakpoint-wide (width >= 1400px);
@custom-media --breakpoint-regular (width >= 810px) and (width < 1399px);
@custom-media --breakpoint-narrow (width < 810px);

:root {
  --color-white: #FFFFFF;

  --color-gray-0: #F6F7F8;
  --color-gray-2: #D7DCDF;
  --color-gray-4: #8E979F;
  --color-gray-5: #71787F;
  --color-gray-7: #434A51;
  --color-gray-9: #24292D;

  --color-blue-5: #3882C2;
  --color-blue-7: #144B7B;
}

:root {
  --color-text-foreground: var(--color-gray-9);
  --color-heading-decoration: var(--color-gray-2);

  --color-editor-background: var(--color-white);
  --color-sidebar-background: var(--color-gray-0);
  --color-sidebar-border: var(--color-gray-2);

  --color-brand-backend-dune: var(--color-gray-2);
  --color-brand-background: var(--color-gray-9);
  --color-brand-frontend-dune: var(--color-gray-4);
  --color-brand-name: var(--color-gray-0);
  --color-brand-planet: var(--color-gray-0);

  --color-wf: var(--color-gray-2);
  --color-c0: var(--color-gray-4);
  --color-p0: var(--color-gray-5);
  --color-p1: var(--color-gray-7);
  --color-s0: var(--color-blue-5);
  --color-s1: var(--color-blue-7);
}

:root {
  --monospace: ui-monospace, monospace;
  --sans-serif: system-ui, sans-serif;

  --font-family-brand: Questrial, "Questrial Fallback", var(--sans-serif);
  --font-family-code: var(--monospace);
  --font-family-heading: var(--sans-serif);
  --font-family-text: var(--sans-serif);

  --font-size-brand: 24px;
  --font-size-code: 14px;
  --font-size-heading-second: 22px;
  --font-size-heading-third: 18px;
  --font-size-text: 16px;

  --font-weight-heading: 500;
  --font-weight-text: 400;

  --letter-spacing-brand: 0.3em;

  --line-height-text: 1.5;
}

* {
  box-sizing: border-box;
}

html {
  background-color: var(--color-editor-background);
  color: var(--color-text-foreground);
  font-family: var(--font-family-text);
  font-size: var(--font-size-text);
  font-synthesis: none;
  font-weight: var(--font-weight-text);
  hyphens: auto;
  line-height: var(--line-height-text);
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

a {
  color: inherit;
}

.home {
  padding-bottom: 64px;
  padding-top: 64px;

  @media (--breakpoint-narrow) {
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.home__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(640px + 20px * 2);
  padding-left: 20px;
  padding-right: 20px;
}

.home__content::after {
  content: "";
  display: block;

  @media (--breakpoint-wide) {
    margin-top: 320px;
  }

  @media (--breakpoint-regular) {
    margin-top: 210px;
  }

  @media (--breakpoint-narrow) {
    margin-top: 100px;
  }
}

.home__postscript {
  font-size: var(--font-size-code);
  text-align: end;
}

.home__postscript > a {
  display: block;
}

.home__postscript p {
  margin-bottom: 0;
  margin-top: 0;
}

.syntax {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: min-content 1fr min-content;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  overflow: hidden;
  padding: 16px;

  @media (--breakpoint-narrow) {
    display: block;
    height: auto;
    padding: 10px;
  }
}

.syntax__brand {
  grid-column: 1;
  grid-row: 1;
  padding: 16px;

  @media (--breakpoint-narrow) {
    padding: 10px;
  }
}

.syntax__brand .brand {
  grid-template-columns: 1fr;
}

.syntax__brand .brand__logo {
  grid-column: 1;
  grid-row: 1;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  width: 60px;
}

.syntax__brand .brand__name {
  font-size: 1px;
  visibility: hidden;
}

.syntax__navigation {
  grid-column: 1;
  grid-row: 2 / 3;
  overflow: scroll;
  padding: 16px;

  @media (--breakpoint-narrow) {
    column-gap: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
    padding: 10px;
  }
}

.syntax__navigation a {
  display: block;
  width: fit-content;
}

.syntax__preview {
  grid-column: 2;
  grid-row: 1 / 3;
  height: 100%;
  overflow: hidden;
  padding: 16px;

  @media (--breakpoint-narrow) {
    height: 60vh;
    margin-top: 22px;
    padding: 10px;
  }
}

.syntax__preview .preview {
  height: 100%;
}

.syntax__container {
  align-items: end;
  column-gap: 32px;
  display: grid;
  grid-column: 1 / 3;
  grid-row: 3;
  grid-template-columns: 240px 1fr;
  padding: 16px;

  @media (--breakpoint-narrow) {
    display: block;
    margin-top: 22px;
    padding: 10px;
  }
}

.syntax__details {
  grid-column: 2;
  grid-row: 1;
  text-align: end;
}

.syntax__details p {
  margin-bottom: 0;
  margin-top: 0;
}

.syntax__postscript {
  grid-column: 1;
  grid-row: 1;

  @media (--breakpoint-narrow) {
    margin-top: 22px;
    text-align: end;
  }
}

.syntax__postscript p {
  margin-bottom: 0;
  margin-top: 0;
}

.brand {
  align-items: end;
  background-color: var(--color-brand-background);
  display: grid;
  grid-template-columns: 1fr min-content;
  padding: 22px 25px;

  @media (--breakpoint-narrow) {
    align-items: center;
  }
}

.brand__link {
  display: contents;
}

.brand__logo {
  display: block;
  grid-column: 2;
  grid-row: 1;
  height: 90px;
  width: 90px;

  @media (--breakpoint-narrow) {
    height: 60px;
    width: 60px;
  }
}

.brand__logo circle {
  fill: var(--color-brand-planet);
}

.brand__logo path:first-of-type {
  fill: var(--color-brand-backend-dune);
}

.brand__logo path:last-of-type {
  fill: var(--color-brand-frontend-dune);
}

.brand__name {
  color: var(--color-brand-name);
  font-family: var(--font-family-brand);
  font-size: var(--font-size-brand);
  grid-column: 1;
  grid-row: 1;
  letter-spacing: var(--letter-spacing-brand);
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  width: min-content;
}

.content h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading-second);
  font-weight: var(--font-weight-heading);
  margin-bottom: 32px;
  margin-top: 64px;
  position: relative;
  scroll-margin-block-start: 64px;
}

.content h2::before {
  background-color: var(--color-heading-decoration);
  bottom: -1px;
  content: "";
  height: 1px;
  left: 1px;
  position: absolute;
  width: 32px;
}

.content h3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-heading-third);
  font-weight: var(--font-weight-heading);
  margin-bottom: 22px;
  margin-top: 30px;
  position: relative;
  scroll-margin-block-start: 30px;
}

.content p {
  margin-bottom: 0;
  margin-top: 22px;
}

.content nav a {
  display: block;
  width: fit-content;
}

.content .preview {
  margin-top: 22px;
}

.preview {
  border: 1px solid var(--color-sidebar-border);
  display: grid;
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: 1fr min-content;
}

.preview::after {
  background-color: var(--color-sidebar-background);
  border-top: 1px solid var(--color-sidebar-border);
  content: "";
  display: block;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

.preview__sh {
  display: grid;
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  grid-template-columns: auto 1fr auto;
  overflow: scroll;
  padding-bottom: 13.5px;
  padding-top: 13.5px;
  z-index: 2;
}

.preview__sh::before {
  content: "";
  display: block;
  grid-column: 1;
  padding-right: 16px;
}

.preview__sh::after {
  content: "";
  display: block;
  grid-column: 3;
  padding-left: 16px;
}

.preview__sh .sh {
  height: 100%;
  margin-bottom: 0;
  margin-top: 0;
}

.preview__view {
  align-content: center;
  border: 1px solid var(--color-sidebar-border);
  color: inherit;
  cursor: default;
  display: block;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  margin-bottom: -1px;
  margin-left: -1px;
  padding: 6px 12px;
  text-decoration: none;
  text-wrap: nowrap;
  width: max-content;
  z-index: 1;
}

.preview__name {
  align-content: center;
  border: 1px solid var(--color-sidebar-border);
  display: block;
  grid-column: 3 / 4;
  grid-row: 2 / 3;
  margin-bottom: -1px;
  margin-right: -1px;
  padding: 6px 12px;
  text-decoration: none;
  text-wrap: nowrap;
  width: max-content;
  z-index: 1;
}

.sh {
  position: relative;
  background-color: var(--color-editor-background);
  font-family: var(--font-family-code);
  font-size: var(--font-size-code);
}

.ws {
  color: var(--color-wf);
  position: relative;
}

.ws::before {
  content: "·";
  position: absolute;
}

.wt {
  color: var(--color-wf);
  position: relative;
  tab-size: 2;
}

.wt::before {
  content: "⇥";
  position: absolute;
}

.c0 {
  color: var(--color-c0);
}

.p0 {
  color: var(--color-p0);
}

.p1 {
  color: var(--color-p1);
}

.s0 {
  color: var(--color-s0);
}

.s1 {
  color: var(--color-s1);
}
