name: Audit

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup mise
      uses: jdx/mise-action@v2

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Pull grammars
      run: node cli.js pull

    - name: Check types
      run: pnpm check

    - name: Lint code
      run: pnpm lint

    - name: Run tests
      run: node cli.js test

    - name: Build themes
      run: node cli.js build
