name: Release

on:
  push:
    tags:
    - v*

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Store anchor
      id: anchor
      run: |
        v="${{github.ref_name}}"
        r="^## \[$v\] - [0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9]$"
        h=$(grep "$r" CHANGELOG.md 2>/dev/null)
        if [ -z "$h" ]; then exit 1; fi
        v="${v%.*.*}${v#*.}"
        v="${v%.*}${v##*.}"
        d="${h##* - }"
        a="${v}---${d}"
        echo "anchor=$a" >> "$GITHUB_OUTPUT"

    - name: Setup mise
      uses: jdx/mise-action@v2

    - name: Setup pnpm
      run: |
        d="$HOME/.local/share/pnpm"
        mkdir -p "${d}"
        echo "PNPM_HOME=${d}" >> "$GITHUB_ENV"
        echo "${d}" >> "$GITHUB_PATH"

    - name: Install vsce
      run: pnpm install --global @vscode/vsce@3

    - name: Install ovsx
      run: pnpm install --global ovsx@0

    - name: Verify VSCE token
      env:
        VSCE_PAT: ${{secrets.VSCE_RELEASE_TOKEN}}
      run: vsce verify-pat

    - name: Verify OVSX token
      env:
        OVSX_PAT: ${{secrets.OVSX_RELEASE_TOKEN}}
      run: ovsx verify-pat

    - name: Install dependencies
      run: pnpm install --frozen-lockfile

    - name: Build themes
      run: node cli.js build

    - name: Clear package
      run: pnpm clear

    # https://github.com/microsoft/vscode-vsce/issues/1225
    - name: Package extension
      run: vsce package --no-dependencies --skip-license --out moondusttheme.vsix

    - name: Publish to VS Code Marketplace
      env:
        VSCE_PAT: ${{secrets.VSCE_RELEASE_TOKEN}}
      run: vsce publish --packagePath moondusttheme.vsix

    - name: Publish to Open VSX Registry
      env:
        OVSX_PAT: ${{secrets.OVSX_RELEASE_TOKEN}}
      run: ovsx publish --packagePath moondusttheme.vsix

    - name: Create GitHub release
      env:
        GH_TOKEN: ${{github.token}}
      run: |
        v="${{github.ref_name}}"
        a="${{steps.anchor.outputs.anchor}}"
        u="${{github.server_url}}/${{github.repository}}/blob/main/CHANGELOG.md#$a"
        gh release create "$v" --title "$v" --notes "See $u"
        gh release upload "$v" dist/moondusttheme-*.json moondusttheme.vsix
